
.bloqueDos{
  width: 40%;
  float: left;
  padding-left : 20px;
  padding-right : 20px;
  background: green;
}

.titulo3{
    color: orange;
    font-family: fantasy;
}

#elelemento{
  color: red;
  text-decoration: underline;

}

p{
  font-size: 1.2em;
  font-family: sans-serif;

}
div{
  background-color: gray;
}

a{
  text-decoration: none;

}
h1, h2 {
  color: purple ;
}
ol > li > a{
  color: green;
}
ul li {
  color: white;

}
footer{
  color: red;
  font-family: cursive;
  clear: both;
  position: relative;

}
